body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  text-align: center;
}

.container {
  margin-top: 100px;
}

h1 {
  margin-bottom: 40px;
}

.button {
  display: block;
  width: 250px;
  margin: 15px auto;
  padding: 12px;
  background-color: #e9d5d5;
  text-decoration: none;
  color: black;
  border: 2px solid  #777777; 
  border-radius: 8px;
  transition: 0.3s;
}

.button:hover {
  background-color: #dec0c0;
}