body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  text-align: center;
}

h3 {
  margin-bottom: 5px;
}

.quiz {
  background: white;
  padding: 40px;
  width: 400px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: left;
}

/* Text im Quiz */
.quiz p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Radio Buttons */
.quiz input {
  margin-left: 135px;
}

button {
  padding: 10px;
  cursor: pointer;
  background: #f3e1e4;
  display: block;
  margin: 0px auto;
}

#ergebnis {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  min-height: 22px;
  font-size: 18px;
  text-align: center;
}
